<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>FACE_REV</title>
  <meta content="" name="description">

  <meta content="" name="keywords">
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <style>
    .flex-center-verticaly {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
    }

    #camera {
      width: 100%;
      background: gray;
      text-align: center;
    }

    .video {
      display: block;
      height: 38vh;
      width: auto;
      position: relative;
    }

    .video-mask {
      border-radius: 10px;
      overflow: hidden;
    }

    .hide {
      display: none !important;
    }
  </style>
  <script>
    function getPicture(backend, actions) {
      const canvas = document.createElement("canvas");
      // scale the canvas accordingly
      canvas.width = video.videoWidth;
      canvas.height = video.videoHeight;
      // draw the video at that frame
      canvas.getContext('2d')
        .drawImage(video, 0, 0, canvas.width, canvas.height);
      // convert it to a usable data URL
      const dataURL = canvas.toDataURL();
      try {
        const response = fetch(window.location.href + "send_image", {
          method: 'POST',
          body: JSON.stringify(
            {
              "image": dataURL.replace(/\s+/g, ''),
              "actions": actions,
              "backend": backend
            }),
          headers: {
            'Content-Type': 'application/json'
          }
        }).then((res) => {
          res.json().then((val) => {
            console.log(val);
            if (val.code === 0) {
              return;
            }
            let a = "age" in actions;
            console.log({ actions, a });
            document.getElementById("age").innerText = actions.includes("age") ? "Возраст: " + val.age : "";
            document.getElementById("dominant_emotion").innerText = actions.includes("emotion") ? "Эмоция: " + val.dominant_emotion : "";
            document.getElementById("dominant_race").innerText = actions.includes("race") ? "Расса: " + val.dominant_race : "";
            document.getElementById("gender").innerText = actions.includes("gender") ? "Пол: " + val.gender : "";
          })
        });
      } catch (error) {
        console.error('Ошибка:', error);
      }
    }
    function sendloop() {
      var actions = []
      setTimeout(() => {
        var actions = [];
        var backend = document.getElementById("backend").value;
        var types = ["age", "gender", "emotion", "race"];
        for (let i = 0; i < types.length; i++) {
          if (document.getElementById(types[i] + "Chk").checked == true) {
            actions.push(types[i]);
          }
        }
        getPicture(backend, actions);
        sendloop();
        console.log(actions.length)
      }, (actions.length > 1 ? actions.length * 1000 : 5000))
    }
    function start() {
      var button = document.getElementById("showBtn");
      var showingDataContainer = document.getElementById("showingDataContainer");
      var landing = document.getElementById("landing");
      showingDataContainer.classList.toggle("hide");
      landing.classList.toggle("hide");
    }
  </script>
</head>

<body class="animate">
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
      </a>
      <nav id="navbar" class="navbar">
        <ul>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div id="landing" class="col-lg-5 d-flex flex-column justify-content-center">
          <h1 style="letter-spacing: 0.26em;">FACE REVIEW -</h1>
          <h2 style="text-align: justify;">
            идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности играет важную
            роль в формировании форм развития. Равным образом начало повседневной работы по формированию позиции играет
            важную роль в формировании модели развития. Равным образом постоянный количественный рост и сфера нашей
            активности обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного
            развития.
          </h2>
        </div>
        <div id="showingDataContainer" class="col-lg-5 d-flex flex-column justify-content-center hide">
          <form>
            <div class="input-group-prepend">
              <input checked id="ageChk" type="checkbox">
              <label for="gender">Возраст </label><br>
              <input checked id="genderChk" type="checkbox">
              <label for="gender">Пол </label><br>
              <input checked id="emotionChk" type="checkbox">
              <label for="emotion">Эмоция </label><br>
              <input checked id="raceChk" type="checkbox">
              <label for="race">Расса </label><br>
              <label for="backend">Обработчик изображения</label>
              <select name="Модель" id="backend" selected="mediapipe">
                {% for backend in backends %}
                <option value="{{backend}}">{{backend}}</option>
                {% endfor %}
              </select>
            </div>
          </form>
          <h2 id="age">Возраст: определяется...</h2>
          <h2 id="gender">Пол: определяется...</h2>
          <h2 id="dominant_emotion">Эмоция: определяется...</h2>
          <h2 id="dominant_race">Расса: определяется...</h2>
        </div>
        <div class="col-lg-6 hero-img offset-lg-1 flex-center-verticaly">
          <div class="video-mask">
            <video autoplay="true" id="camera">
            </video>
          </div>

          <script lang="javascript">
            var video = document.querySelector("#camera");

            if (navigator.mediaDevices.getUserMedia) {
              navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                  video.srcObject = stream;
                  sendloop();
                })
                .catch(function (err0r) {
                  console.log("Something went wrong!");
                });
            }
          </script>
          <div class="text-center text-lg-start"
            style="display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;">
            <a id="showBtn" onclick="start()" style="margin-top: 30px;"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>FACE_REV</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>