<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>FACE_REV</title>
  <meta content="" name="description">

  <meta content="" name="keywords">
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <style>
    .flex-center-verticaly {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
    }

    #detection,
    #camera {
      width: 100%;
      background: gray;
      text-align: center;
    }

    .video {
      display: block;
      height: 38vh;
      width: auto;
      position: relative;
    }

    .video-mask {
      border-radius: 10px;
      overflow: hidden;
    }

    .hide {
      display: none !important;
    }
  </style>
  <script>
    const genderLang = {
      "Woman": "Женщина", "Man": "Мужчина"
    }
    const emotionLang = {
      'angry': "Злость",
      'disgust': "Отвращение",
      'fear': "Страх",
      'happy': "Радость",
      'sad': "Грусть",
      'surprise': "Удивление",
      'neutral': "Нейтральная"
  }
  const raceLang = {
    "asian": "Азиатская", 
    "white": "Европеоидная", 
    "middle eastern": "Восточная", 
    "indian": "Индийская", 
    "latino": "Латиноамериканская",
    "black": "Афроамериканская"
  }
    function getPicture(backend, actions) {
      const canvas = document.createElement("canvas");
      const landmarkChk = document.getElementById("landmarkChk").checked;
      const facemeshChk = document.getElementById("facemeshChk").checked;
      if (landmarkChk || facemeshChk) {
        document.getElementById("detection").classList.toggle("hide", false);
      } else {
        document.getElementById("detection").classList.toggle("hide", true);
      }
      canvas.width = video.videoWidth;
      canvas.height = video.videoHeight;
      canvas.getContext('2d')
        .drawImage(video, 0, 0, canvas.width, canvas.height);
      const dataURL = canvas.toDataURL();
      try {
        const response = fetch(window.location.href + "send_image", {
          method: 'POST',
          body: JSON.stringify(
            {
              "image": dataURL.replace(/\s+/g, ''),
              "actions": actions,
              "backend": backend,
              "landmarks": landmarkChk,
              "facemesh": facemeshChk
            }),
          headers: {
            'Content-Type': 'application/json'
          }
        }).then((res) => {
          res.json().then((val) => {
            var noface = document.getElementById("not-find-face");
            var age = document.getElementById("age");
            var emotion = document.getElementById("dominant_emotion");
            var race = document.getElementById("dominant_race");
            var gender = document.getElementById("gender");
            if (val.code === 0) {
              if (val.err === "No face")
                noface.classList.toggle("hide", false);
              return;
            }
            noface.classList.toggle("hide", true)
            age.innerText = actions.includes("age") ? "Возраст: " + val.age : "";
            emotion.innerText = actions.includes("emotion") ? "Эмоция: " + emotionLang[val.dominant_emotion] : "";
            race.innerText = actions.includes("race") ? "Расса: " + raceLang[val.dominant_race] : "";
            gender.innerText = actions.includes("gender") ? "Пол: " + genderLang[val.gender] : "";
            if (val.image != undefined) {
              let img = document.getElementById("detection-container");
              document.getElementById("detection").src = val.image;
              img.classList.toggle("hide", false);
            }
          })
        });
      } catch (error) {
        console.error('Ошибка:', error);
      }
    }
    var actions = [1, 2, 3, 4]
    function sendloop() {
      setTimeout(() => {
        var actions = [];
        var backend = document.getElementById("backend").value;
        var types = ["age", "gender", "emotion", "race"];
        for (let i = 0; i < types.length; i++) {
          if (document.getElementById(types[i] + "Chk").checked == true) {
            actions.push(types[i]);
          }
        }
        getPicture(backend, actions);
        sendloop();
        console.log(actions.length)
      }, (actions.length > 1 ? actions.length * 500 : 50))
    }
    function start() {
      window.scrollTo({
        top: 0,
        behavior: "smooth"
      });
      var button = document.getElementById("showBtn");
      var showingDataContainer = document.getElementById("showingDataContainer");
      var landing = document.getElementById("landing");
      showingDataContainer.classList.toggle("hide");
      landing.classList.toggle("hide");
    }
  </script>
</head>

<body class="animate">
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
      </a>
      <nav id="navbar" class="navbar">
        <ul>
        </ul>
        <i class="bi bi-list mobile-nav-toggle" style="display:none"></i>
      </nav>
    </div>
  </header>
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div id="landing" class="col-lg-5 d-flex flex-column justify-content-center">
          <h1 style="letter-spacing: 0.26em;">FACE REVIEW -</h1>
          <h2 style="text-align: justify;">
            проект, позволяющий наглядно познакомиться с алгоритмом распознавания и анализа черт внешности и мимики. Эта
            технология одна из наиболее перспективных методов биометрической бесконтактной идентификации человека по
            лицу. Уже сейчас она применяется в системах безопасности, верификации, рекламе и т.д.
          </h2>
        </div>
        <div id="showingDataContainer" class="col-lg-5 d-flex flex-column justify-content-center hide">
          <form>
            <div class="input-group-prepend">
              <label for="ageChk" class="checkbox">
                <input checked class="checkbox__input" id="ageChk" type="checkbox">
                <svg class="checkbox__icon" viewBox="0 0 22 22">
                  <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
                  <path class="tick" stroke="#7065FF" fill="none" stroke-linecap="round" stroke-width="4"
                    d="M4 10l5 5 9-9" />
                </svg>
              </label>
              <label for="ageChk">
                <h2>Возраст</h2>
              </label><br>
              <label for="genderChk" class="checkbox">
                <input checked class="checkbox__input" id="genderChk" type="checkbox">
                <svg class="checkbox__icon" viewBox="0 0 22 22">
                  <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
                  <path class="tick" stroke="#7065FF" fill="none" stroke-linecap="round" stroke-width="4"
                    d="M4 10l5 5 9-9" />
                </svg>
              </label>
              <label for="gender">
                <h2>Пол</h2>
              </label><br>
              <label for="emotionChk" class="checkbox">
                <input checked class="checkbox__input" id="emotionChk" type="checkbox">
                <svg class="checkbox__icon" viewBox="0 0 22 22">
                  <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
                  <path class="tick" stroke="#7065FF" fill="none" stroke-linecap="round" stroke-width="4"
                    d="M4 10l5 5 9-9" />
                </svg>
              </label>
              <label for="emotionChk">
                <h2>Эмоция</h2>
              </label><br>
              <label for="raceChk" class="checkbox">
                <input checked class="checkbox__input" id="raceChk" type="checkbox">
                <svg class="checkbox__icon" viewBox="0 0 22 22">
                  <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
                  <path class="tick" stroke="#7065FF" fill="none" stroke-linecap="round" stroke-width="4"
                    d="M4 10l5 5 9-9" />
                </svg>
              </label>
              <label for="raceChk">
                <h2>Расса</h2>
              </label><br>
              <label for="landmarkChk" class="checkbox">
                <input class="checkbox__input" id="landmarkChk" type="checkbox">
                <svg class="checkbox__icon" viewBox="0 0 22 22">
                  <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
                  <path class="tick" stroke="#7065FF" fill="none" stroke-linecap="round" stroke-width="4"
                    d="M4 10l5 5 9-9" />
                </svg>
              </label>
              <label for="landmarkChk">
                <h2>Landmarks</h2>
              </label><br>
              <label for="facemeshChk" class="checkbox">
                <input class="checkbox__input" id="facemeshChk" type="checkbox">
                <svg class="checkbox__icon" viewBox="0 0 22 22">
                  <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
                  <path class="tick" stroke="#7065FF" fill="none" stroke-linecap="round" stroke-width="4"
                    d="M4 10l5 5 9-9" />
                </svg>
              </label>
              <label for="facemeshChk">
                <h2>Сетка</h2>
              </label><br>
              <label for="backend">
                <h2>Обработчик изображения</h2>
              </label>
              <select name="Модель" id="backend" selected="mediapipe">
                {% for backend in backends %}
                <option value="{{backend}}">{{backend}}</option>
                {% endfor %}
              </select>
            </div>
          </form>
          <h2 id="age">Возраст: определяется...</h2>
          <h2 id="gender">Пол: определяется...</h2>
          <h2 id="dominant_emotion">Эмоция: определяется...</h2>
          <h2 id="dominant_race">Расса: определяется...</h2>
          <div class="alert alert-warning hide" id="not-find-face" role="alert">
            Сервер не может обнаружить лицо на изображении
          </div>
        </div>
        <div class="col-lg-6 hero-img offset-lg-1 flex-center-verticaly">
          <div class="video-mask">
            <video autoplay="true" id="camera">
            </video>
          </div>
          <div id="detection-container" class="video-mask hide">
            <img class="" id="detection">
          </div>

          <script lang="javascript">
            var video = document.querySelector("#camera");

            if (navigator.mediaDevices.getUserMedia) {
              navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                  video.srcObject = stream;
                  sendloop();
                })
                .catch(function (err0r) {
                  console.log("Something went wrong!");
                });
            }
          </script>
          <div class="text-center text-lg-start"
            style="display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;">
            <a id="showBtn" onclick="start()" style="margin-top: 30px;"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>FACE_REV</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>