<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
        #camera {
            width: inherit;
            height: inherit;
        }

        .camera-container {
            height: 100vh;
            display: flex;
            align-content: center;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
        }
    </style>
    <script lang="javascript">
        function getPicture() {
            const canvas = document.createElement("canvas");
            // scale the canvas accordingly
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            // draw the video at that frame
            canvas.getContext('2d')
                .drawImage(video, 0, 0, canvas.width, canvas.height);
            // convert it to a usable data URL
            const dataURL = canvas.toDataURL();
            try {
                const response = fetch(window.location.href + "send_image", {
                    method: 'POST',
                    body: JSON.stringify({ "image": dataURL.replace(/\s+/g, '') }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then((res) => {
                    res.json().then((val)=>{
                        console.log(val);
                        if(val.code === 0){
                            return;
                        }
                        document.getElementById("age").innerText = "Возраст: " + val.age;
                        document.getElementById("dominant_emotion").innerText = "Эмоция: " + val.dominant_emotion;
                        document.getElementById("dominant_race").innerText = "Расса: " + val.dominant_race;
                        document.getElementById("gender").innerText = "Пол: " + val.gender;
                    })
                });
            } catch (error) {
                console.error('Ошибка:', error);
            }
        }
    </script>
    <title></title>
</head>

<body>

    <!--НАВИГАЦИЯ-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">FACE-RECOGNITION</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="archive.html">Архив</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Проводник</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--КАМЕРА И ЕЕ ТРАНСЛЯЦИЯ-->

    <div class="container camera-container">
        <div class="row">
            <div class="col-lg-10 offset-lg-2">
                <video onload="" autoplay="true" id="camera">
                </video>
                <script lang="javascript">
                    function sendloop() {
                        setTimeout(() => {
                            getPicture();
                            sendloop();
                        }, 5000)
                    }

                    var video = document.querySelector("#camera");

                    if (navigator.mediaDevices.getUserMedia) {
                        navigator.mediaDevices.getUserMedia({ video: true })
                            .then(function (stream) {
                                video.srcObject = stream;
                                sendloop();
                            })
                            .catch(function (err0r) {
                                console.log("Something went wrong!");
                            });
                    }
                </script>
                <!-- Primary circle button with ripple effect -->
                <button onclick="getPicture()" class="btn pmd-btn-fab pmd-ripple-effect btn-primary" type="button"><i
                        class="material-icons pmd-sm">star</i></button>
            </div>
            <div class="col-lg-2">
                <p id="age"></p>
                <p id="dominant_emotion"></p>
                <p id="dominant_race"></p>
                <p id="gender"></p>
            </div>
        </div>
    </div>
    <!-- jQuery before Propeller.js -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>